# Server
PORT=3000

# Authentication API
AUTH_API_URL=your-api-auth-url

# Your registration details
EMAIL=you@email.com
NAME=your-name
ROLL_NO=your-roll-no
ACCESS_CODE=your-access-code

# Credentials received after registration
CLIENT_ID=your-client-id
CLIENT_SECRET=your-client-secret

# Evaluation Service
BASE_URL=your-evaluation-service-url