PORT=3000
LOG_API_URL=your-log-url
LOG_API_TIMEOUT_MS=20000
LOG_API_TOKEN=your-log-api-token

# Use one of these for backend logs:
# cache, controller, cron_job, db, domain, handler, repository, route, service
DEFAULT_BACKEND_PACKAGE=service
